<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <style>
        .blue_borders {
            color: darkblue;
            font-size: 16px;
            border-style: solid;
        }
    </style>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>