{% extends "base.html" %}
{% block content %}
<table class="{{ style_class }}">
    <thead>
    {% for cell in header %}
    <td class="{{ header_cells_style_class }}">
        {{ cell }}
    </td>
    {% endfor %}
    </thead>

    {% for row in table %}
    <tr>
        {% for cell in row %}
        <td class="{{ cell_style_class }}">{{ cell }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}